.content {
    display: flex;
    padding: 30px;
}

.sidebar {
    width: 400px
}

.centerContent {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.posts {
    border: 1px solid black;
    padding: 15px;

}

@media (prefers-color-scheme: dark) {
    .posts {
        border: 1px solid white;
    }
  }
  